# Data types

In programming, data type is an important concept.

In this sections we are going to cover:

* [Data types overview](#type-overview)
* [Checking the data type](#type-check)
* [Calculations with integers and floats](#type-calcs)
* [Strings](#type-strings)
* [String methods](#type-string-method)
* [Multi-line strings](#type-string-multi-line)
* [String operations](#type-string-operations)
* [Using the `in` operator](#type-string-in)
* [Booleans](#type-bools)
* [Converting to another data type](#type-convert)
* [<mark>Exercise: Strings/Integers</mark>](#ex-string-int)

<a id='type-overview'></a> 
## Data types overview

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, we're going to look at:

Numeric:
* `int`: integers AKA *whole numbers*, e.g. `0`, `1`, `2`, `3`, ...
* `float`: floating point numbers AKA *numbers with decimals*, e.g. `0.1234`, `1.2354`, ...
* `bool`: booleans AKA things that can either be `True` or `False`

Non-numeric/text:
* `str`: strings AKA *text*, e.g. `"hello, this is a string"`

![numbers](images/numbers.png)

<a id = 'type-check'></a>
## Checking the type

You can get the data type of any object by using the type() function:
```python
>> var = 3
>> type(var)
int
```
Can you tell what the type of each variable is below? Use `type()` to check if you were right!

In [ ]:
q = 2
w = 2.3
e = '24.5'
r = 4.
t = True
y = "Hello world!"

In [ ]:
type(q)

Investigate the other variables in the cell below:

In [ ]:
%whos

<a id ='type-calculations'></a>
## Calculations with integers and floats

In [ ]:
# we can perform mathematical operations in Python, e.g.
2*2

In [ ]:
#notice the difference when we print this calculation
print(2*2)

In [ ]:
u = 4 * 4

In [ ]:
u

In [ ]:
print(w)
print(2 * w)

In [ ]:
print(r)
print(q)
print(r * q)

In [ ]:
# Python respects order of mathematical operations
r + 10 * q

In [ ]:
# indices (to the power)
q**2

In [ ]:
r**3

In [ ]:
# square root
r**0.5

In [ ]:
# if we first import the math library, than we get access to additional functions
import math
help(math)

In [ ]:
math.sqrt(r)

In [ ]:
# the modulus operator
# 5 divided by 3 has remainder 2
5 % 3

In [ ]:
# set z to 0
z = 0

In [ ]:
#incremental summation (and other operators)
z = z +1
z

In [ ]:
z +=1
z

In [ ]:
z -= 5
z

In [ ]:
#be careful, not sensitive to spaces!
z =- 5
z

In [ ]:
z *= 4
z

In [ ]:
z /= 10
z

<a id = 'type-strings'></a>
## Strings

String literals in python are surrounded by either single quotation marks, or double quotation marks.

    'hello' is the same as "hello".

In [ ]:
greeting = "Hello"
thing = 'World'

In [ ]:
greeting

In [ ]:
thing

In [ ]:
print(greeting)
print(thing)

In [ ]:
print(greeting, thing)

In [ ]:
# We can concatenate strings together
print(thing + '!')

<a id = 'type-string-method'></a>
## String methods

We can use methods to alter objects.

The methods we can use for strings are:

* `.lower()`: converts the string to lowercase
* `.upper()`: CONVERTS THE STRING TO UPPERCASE
* `.title()`: Capitalizes Every First Letter
* `.capitalize()`: Capitilaizes only the first letter. even in multiple sentences
* `.split()`: ['converts', 'the', 'string', 'into', 'a', 'list', 'of', 'words']
* `.replace()`: replaces part of the string with something else (you must specify what!)

In [ ]:
sentence = "hello there, my name is "
name = "lucy sheppard"

Investigate the above methods on `sentence` and `name`.

In [ ]:
sentence.capitalize()

In [ ]:
sentence.split()

In [ ]:
sentence.split(",")

In [ ]:
name.replace("sheppard", "potter")

<a id = 'type-string-multi-line'></a>
## Multi-line strings

What if you have longer text that is on multiple lines? The following wouldn't work:

In [ ]:
"hey
hey"

We have two options!

1) can use `"\n"` to indicate to Python we need a new line. Note the need to use the print statement to format the string:

In [ ]:
print("hey \n hey")

2) Or we can use `"""` or `'''` (triple quotations) to write over multiple lines.

In [ ]:
super_strings = """One solution is to use
triple 
quotations
"""

In [ ]:
print(super_strings)

In [ ]:
# note the need for the print() statement:
super_strings

In [ ]:
super_strings.split('\n')

<a id = 'type-string-operations'></a>
## String operations

Operations don't work the same on strings as on integers or floats. What do you think the following pieces of code will return?

Try them and see!

In [ ]:
# multiplication
'12' * 3

In [ ]:
# addition
'12' + '3'

In [ ]:
# subtraction
'12' - '12'

In [ ]:
# division
'12' / 3

Multiplication and addition allowed but simply using a concantenation rather than a mathematical calculation


<a id = 'type-string-in'></a>
## Using the `in` operator

You check whether a string is part of a larger string by using the `in` operator.

In [ ]:
'a' in 'amsterdam'

In [ ]:
'a' in 'AMSTERDAM'

<a id = 'type-bools'></a>
## booleans (or bools)

In [ ]:
'a' in 'hello world'

In [ ]:
type(False)

In [ ]:
temp = 18

In [ ]:
temp > 19

In [ ]:
type(temp > 19)

In [ ]:
# boolean operators

# is equivalent to
5 == 5

In [ ]:
# Using the modulus operator to check for even numbers
even_num = 392
even_num % 2 == 0

In [ ]:
odd_num = 471
odd_num % 2 == 0

In [ ]:
# is NOT equivalent to
5 != 4

In [ ]:
# is NOT equivalent to
5 != 5

In [ ]:
( 2 + 2 == 4)

In [ ]:
(3 + 3 == 4)

In [ ]:
# and - both true
( 2 + 2 == 4) and (3 + 3 == 4)

In [ ]:
# or - at least one true
( 2 + 2 == 4) or (3 + 3 == 4)

<a id = 'type-convert'></a>
## Converting to another data type

Need to convert a data type? The following functions will be really useful:

```python
float()
int()
str()
bool()
```

But remember the value needs to be able to be that type. For example a string `"56.43"` can be converted into a `float` but `"I am not a float"` cannot!

In [ ]:
float("56.43")

In [ ]:
str(4349)

In [ ]:
'My favourite number is ' + str(7)

In [ ]:
float("I am not a float")

<a id='ex-string-int'></a>
## <mark> Exercise: Strings/Integers </mark>

Use what you know about data types and string methods to print the following sentence:

`Hello everyone, my name is Taylor Swift. I am 31 and it was 2006 when my first album came out.`

In [ ]:
greeting = 'hello everyone,'
my_name_is = 'MY NAME IS'
name = 'taylor swift'
age = 31.0
year_of_first_album = "and it was 2006 when my first SINGLE came out."

In [ ]:
# %load answers/ex-string-int.py